<!-- views/partials/content1.ejs -->

<span><img src="images/c2_i6.png" width="303" height="420" alt="" /></span>
  <div class="midBox1Top">
<h3><%= new_paragraph_4 %></h3>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum<br /> dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non<br /> proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<a href="#"><img src="images/c2_i2.png" width="133" height="40" alt="" /></a>
<a href="#"><img src="images/c2_i3.png" width="84" height="40" alt=""  /></a>
<a href="#"><img src="images/c2_i4.png" width="93" height="40" alt=""  /></a>
<a href="#"><img src="images/c2_i5.png" width="101" height="38" alt=""  /></a>		 </div>
<div class="midBox1Bottom">
 <h4><%= new_paragraph_5 %></h4>
 <ul>
  <li class="cat002"><a href="#" >Lorem Ipsum is simply dummy text of the printing</a></li>
  <li class="cat002"><a href="#" >It is a long established fact that a reader</a></li>
  <li class="cat002"><a href="#" >There are many variations of passages of Lorem Ipsum</a></li>
  <li class="cat002"><a href="#" >Contrary to popular belief, Lorem Ipsum is not simply random text</a></li>
 </ul>
</div>
<br class="clear" />
