<!-- views/partials/content2.ejs -->

<div class="midBox2L">
 <h2>Where Does It Come From?</h2>
 <h3>Contrary to popular belief, Lorem Ipsum is not<br /> simply random text.</h3>
 <p>It is a long established fact that a reader will be distracted by the <br />readable content of a page when looking at its layout.</p>
</div>
<img src="images/c3_i7.png" width="460" height="237" alt="" />
