<!-- views/partials/footer.ejs -->

 <div class="footerForm">
 <h3><%= footer_email %></h3>
 <div class="footerFormR">
  <p><label>Name*:</label><input name="Name" type="text" class="footerInputArea" /></p>
  <p><label>Email*:</label><input name="Email" type="text" class="footerInputArea" /></p>
  <p><label>Phone Number:</label><input name="Number" type="text" class="footerInputArea" /></p>
 </div>
 <div class="footerFormR">
  <p><label>Message:</label> <textarea name="" class="footertextarea" rows="2" cols="3"></textarea>
  </p>
     <input name="" type="button" class="footerSubmit" />
 </div>
 <br class="clear" />
 </div>
<p>All the Lorem Ipsum generators on the<br /> Internet tend to repeat predefined chunks as<br /> necessary, making this the first true generator<br /> on the Internet. It uses a dictionary of over<br /> 200 Latin words, combined with a handful of<br /> model sentence structures, to generate Lorem<br /> Ipsum which looks reasonable. The generated<br /> Lorem Ipsum is therefore always free from<br /> repetition, injected humour, or<br /> non-characteristic words etc.</p>
<br class="clear" />
