<!-- views/partials/header.ejs -->

<h1 class="logo"><a href="#" title="&lt; ForestWeekend /&gt;">&lt; ForestWeekend /&gt;</a></h1>
<ul class="topNav">
   <li><a href="/" class="topNavAct">HOME</a></li>
 <li><a href="/guestbook">GUESTBOOK</a></li>
 <li><a href="/addmessage">Add Message to GuestBook</a></li>
 </ul><br class="clear" />
