<!-- views/partials/header.ejs -->

<h1><a href="/"><img src="../images/LogoMakr_3PaLAT.png" width="110" height="110"></a></h1>
<ul class="topNav">
   <li><a href="/" class="topNavAct">HOME</a></li>
 <li><a href="/guestbook">GUESTBOOK</a></li>
 <li><a href="/addmessage">Add Message to GuestBook</a></li>
 </ul><br class="clear" />
