<div id="messagePage">
<h1>Add your message to guestBook!</h1>
<form method="post" action="/newmessage">
    <label>Name</label> <input type="text" name="username" placeholder="Your name..">
    <label>Country</label> <input type="text" name="country" placeholder="Your country..">
    <label>Message</label> <input type="text" name="message" placeholder="Your message..">
<input type="submit" value="Submit">
</form>
</div>
